@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pudelklubben</h1>
    <p>Administration av nyhetsinlägg, intresseanmälningar, valpar och valpköpare.</p>
</div>
