@model AdminPoodle.Models.News


@{
    ViewData["Title"] = "Create";
}

<h1>Nytt inlägg</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Title" class="control-label"></label>
                <div>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            </div>


            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Post" class="control-label"></label>
                <div>
                <textarea asp-for="Post" class="form-control" ></textarea>
                <span asp-validation-for="Post" class="text-danger"></span>
            </div></div><br>


            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div><br>

            <div class="form-outline mb-4">
                <label class="form-label" asp-for="AltText" class="control-label"></label>
                <div>
                   
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger" ></span>
            </div> <br>
            <div class="form-group">
                <input type="submit" value="Posta" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
     <a asp-action="Index"><img src="~/icons/back.png" class="icon" alt="knapp för att gå tillbaka"/></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 <script>
        tinymce.init({
            // Select the element(s) to add TinyMCE to using any valid CSS selector
            selector: "#myTextarea",
            plugins: "preview powerpaste casechange searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample advtable table charmap pagebreak nonbreaking anchor advlist lists checklist wordcount tinymcespellchecker a11ychecker help formatpainter permanentpen pageembed linkchecker emoticons export",
            height: '300px',
            width: '500'
        });
        tinyMCE.init( {
    forced_root_block: false, // Start tinyMCE without any paragraph tag
} )
    </script>
}