@model AdminPoodle.Models.News

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera</h1>

<h4>Nyhet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div><br>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Post" class="control-label"></label>
                <div>
                <textarea asp-for="Post" class="form-control" ></textarea>
                <span asp-validation-for="Post" class="text-danger"></span>
            </div></div><br>
        <!--    <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div><br> -->
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div><br>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="AltText" class="control-label"></label>
                <div>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div> <br>

            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><img src="~/icons/back.png" class="icon" alt="knapp för att gå tillbaka"/></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
